# SPDX-FileCopyrightText: 2025 ukoOS Contributors
#
# SPDX-License-Identifier: GPL-3.0-or-later

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}
	partition bootinfo {
        offset = 0
        in-partition-table = false
		image = "bootinfo_sd.bin"
		size = 80
	}
	partition fsbl {
        offset = "128K"
		image = "FSBL.bin"
		size = 256K
	}
	partition env {
		partition-type-uuid = u-boot-env
		offset = "384K"
		image = "uboot.env"
		size = 256K
	}
	partition opensbi {
        offset = "1M"
		image = "fw_dynamic.itb"
		size = 1M
	}
	partition uboot {
        offset = "2M"
		image = "u-boot.itb"
		size = 2M
	}
}
