# SPDX-FileCopyrightText: 2025 ukoOS Contributors
#
# SPDX-License-Identifier: GPL-3.0-or-later

image ukoos.img {
	hdimage {
		partition-table-type = "gpt"
	}
	partition bootinfo {
        offset = 0
        in-partition-table = false
		image = "bootinfo_sd.bin"
		size = 80
	}
	partition fsbl {
        offset = "128K"
		image = "FSBL.bin"
		size = 256K
	}
	partition env {
		partition-type-uuid = "u-boot-env"
		offset = "384K"
		image = "uboot.env"
		size = 256K
	}
	partition opensbi {
        offset = "640K"
		image = "fw_dynamic.itb"
		size = 192K
	}
	partition uboot {
        offset = "832K"
		image = "u-boot.itb"
		size = 2M
	}
	partition boot {
		partition-type-uuid = fat32
		offset = "3072K"
		bootable = true
		image = "boot.vfat"
	}
}

image boot.vfat {
	vfat {
		label = "ukoos-boot"
	}
	mountpoint = "/boot"
	size = 2M
}

