# SPDX-FileCopyrightText: ukoOS Contributors
#
# SPDX-License-Identifier: GPL-3.0-or-later

image ukoos.img {
	hdimage {
		partition-table-type = "mbr"
	}
	partition boot {
		partition-type = 0x0b
		bootable = true
		image = "boot.vfat"
	}
}

image boot.vfat {
	vfat {
		label = "ukoos-boot"
	}
	mountpoint = "/boot"
	size = 2M
}
